/*---------------------------------------------------
    LESS Elements 0.9
  ---------------------------------------------------
    A set of useful LESS mixins
    More info at: http://lesselements.com
  ---------------------------------------------------*/
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #efefef;
}
.clear {
  clear: both;
}
a {
  color: #00B7FF;
}
.card {
  -ms-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  cursor: move;
  height: 100px;
  width: 70px;
  float: left;
  margin-right: 5px;
  text-align: center;
  color: #fff;
  font-size: 30px;
  line-height: 100px;
  border: 5px solid #ffffff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 1px 1px 0px #999999;
  -moz-box-shadow: 1px 1px 0px #999999;
  box-shadow: 1px 1px 0px #999999;
}
.card.red {
  background-color: red;
}
.card.blue {
  background-color: blue;
}
.card.green {
  background-color: green;
}
.card.yellow {
  background-color: orange;
}
.card.orange {
  background-color: orange;
}
.stacks {
  list-style: none;
  padding: 0;
  margin: 0;
}
.stacks li {
  display: inline-block;
  padding: 0;
  margin: 0;
  margin-left: 10px;
}
.stack {
  position: relative;
  display: inline-block;
  height: 100px;
  width: 70px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.stack li {
  margin: 0;
  padding: 0;
  position: absolute;
  left: 0;
}
#board {
  border: 1px solid red;
  width: 1100px;
  padding: 50px;
  zoom: 1;
}
#board:before {
  content: '';
  display: block;
}
#board:after {
  content: '';
  display: table;
  clear: both;
}
#board .tile {
  height: 100px;
  width: 100px;
  border: 2px dashed gray;
  border-radius: 10px;
  float: left;
  margin: 10px;
}
